//
// @extends
// ---------------------------

// Animations
// -----------

// All
%transition-all { @include transition(all $transTime $easeDefault); }
%transition-all-fast { @include transition(all $transTimeFast $easeDefault); }
%transition-all-slow { @include transition(all $transTimeSlow $easeDefault); }
%transition-all-super-slow { @include transition(all $transTimeSuperSlow $easeDefault); }

// Opacity
%transition-opacity { @include transition(opacity $transTime $easeDefault); }
%transition-opacity-fast { @include transition(opacity $transTimeFast $easeDefault); }
%transition-opacity-slow { @include transition(opacity $transTimeSlow $easeDefault); }
%transition-opacity-super-slow { @include transition(opacity $transTimeSuperSlow $easeDefault); }

// Transform
%transition-transform { @include transition(transform $transTime $easeDefault); }
%transition-transform-fast { @include transition(transform $transTimeFast $easeDefault); }
%transition-transform-slow { @include transition(transform $transTimeSlow $easeDefault); }
%transition-transform-super-slow { @include transition(transform $transTimeSuperSlow $easeDefault); }

// Background color
%transition-background-color { @include transition(background-color $transTime $easeDefault); }

// Transition delays
%transition-no-delay { @include transition-delay(0s); }
%transition-short-delay { @include transition-delay(0s); }
%transition-standard-delay { @include transition-delay(0s); }
%transition-long-delay { @include transition-delay(0s); }

// Translate3d reset
%translate3d-reset { @include translate3d(0,0,0); }


// Layout
// -------

%spread {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

%horizontal-center {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
}

%vertical-center {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}

%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
}

// Responsive media embeds
// -------------------------

.embed-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; // 16:9 aspect ratio (adjust accordingly)
    overflow: hidden;
    iframe, object, embed, video, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
